<div class="col-lg-12">
	<%= form_tag '#' do %>
	<span class="input-group-btn">
	  <%= autocomplete_field_tag 'user_email', '', autocomplete_user_email_users_path, 'data-auto-focus' => true, 
	  :append_to => "#user_modal", size: 10, class: 'form-control',
	  'data-auto-focus' => true, placeholder: 'Search here' %>
	</span>
	<% end %>
</div>

<div id="user_modal">

</div>

<table class="table table-striped">
	<thead>
		<th> Email </th>
		<th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td> <%= user.email %></td> 
				<td><%= link_to 'Edit', edit_user_path(user.id) %> | 
					<%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you sure to delete this user?"} %> </td>
			</tr>
		<% end %>
	</tbody>
</table>